
img.sponsorListImage {
  border-style: solid;
  border-color: #1f1f1f;
  background-color: white;
  object-fit: contain;
}

@media(max-width: 574px) {
  img.sponsorListImage {
    border-width: 0.75vw;
    border-radius: 2vw;
    width: 96vw;
    margin: 1.6vw;
    padding: 1vw;
    height: 15vh;
  }
}

@media(min-width: 575px) {
  img.sponsorListImage {
    border-width: 0.25vw;
    border-radius: 0.5vw;
    width: 30vw;
    margin: 1.6vw;
    padding: 1vw;
    height: 30vh;
  }
}

/*
div.Sponsors.row {
  align-items: center;
  background-color: #1f1f1f;
}
*/

