html,
body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@keyframes changingOpacity {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.95;
  }
  20% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.85;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.75;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.dark {
  background-color: rgb(46, 46, 46);
  color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.SponsorIcons {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}

#HomePage {
  background-image: url("/public/images/img27.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#HomeJumbotron {
  background-color: #212529;
  opacity: 0.99;
  border-radius: 20cm;
  animation-name: changingOpacity;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#HomeJumbotron .lead,
#HomeJumbotron .display-4 {
  color: white;
}

.child {
  display: inline-block;
  vertical-align: middle;
}

#img {
  height: 450px;
  width: 300px;
  object-fit: cover;
  align-self: center;
  padding-left: auto;
  padding-right: auto;
}

#IMAGE1 {
  background-image: url("/public/images/img8598.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#IMAGE2 {
  background-image: url("/public/images/img343878.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#IMAGE3 {
  background-image: url("/public/images/img632.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#IMAGE4 {
  background-image: url("/public/images/img43.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#IMAGE5 {
  background-image: url("/public/images/img65.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.underlineOnHover {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.underlineOnHover::after {  
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #21a0bd;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlineOnHover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}